<link rel="stylesheet" href="formulario-registro.component.css">
<section class="registro">
<div class="form-control">
    <input type="value" required="">
    <label>
        <span style="transition-delay:0ms">N</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
    </label>
</div>
<div class="form-control">
    <input type="value" required="">
    <label>
        <span style="transition-delay:0ms">S</span><span style="transition-delay:250ms">u</span><span style="transition-delay:300ms">r</span><span style="transition-delay:350ms">n</span><span style="transition-delay:300ms">a</span><span style="transition-delay:350ms">m</span><span style="transition-delay:350ms">e</span>
    </label>
</div>
<div class="form-control">
    <input type="value" required="">
    <label>
        <span style="transition-delay:0ms">E</span><span style="transition-delay:250ms">m</span><span style="transition-delay:300ms">a</span><span style="transition-delay:350ms">i</span><span style="transition-delay:300ms">l</span>
    </label>
</div>
<div class="form-control">
    <input type="value" required="">
    <label>
        <span style="transition-delay:0ms">U</span><span style="transition-delay:250ms">r</span><span style="transition-delay:300ms">l</span>
    </label>
</div>
<div class="form-control">
    <input type="value" required="">
    <label>
        <span style="transition-delay:0ms">P</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">s</span><span style="transition-delay:350ms">s</span><span style="transition-delay:300ms">w</span><span style="transition-delay:350ms">o</span><span style="transition-delay:350ms">r</span><span style="transition-delay:350ms">d</span>
    </label>
</div>
<div class="form-control">
    <input type="value" required="">
    <label>
        <span style="transition-delay:0ms">R</span><span style="transition-delay:250ms">e</span><span style="transition-delay:300ms">p</span><span style="transition-delay:350ms">e</span><span style="transition-delay:300ms">a</span><span style="transition-delay:350ms">t</span><span style="transition-delay:350ms"> </span><span style="transition-delay:350ms">P</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">s</span><span style="transition-delay:350ms">s</span><span style="transition-delay:300ms">w</span><span style="transition-delay:350ms">o</span><span style="transition-delay:350ms">r</span><span style="transition-delay:350ms">d</span>
    </label>
</div>
</section>
