
<section class="registro">
    <div class="nombre">
    <div class="form-control">
        <input type="value" required="" #correo>
        <label>
            <span style="transition-delay:0ms">C</span><span style="transition-delay:250ms">O</span><span style="transition-delay:300ms">R</span><span style="transition-delay:350ms">R</span><span style="transition-delay:350ms">E</span><span style="transition-delay:350ms">O</span>
        </label>
    </div>
    <div class="form-control">
        <input type="value" required="" #password>
        <label>
            <span style="transition-delay:0ms">C</span><span style="transition-delay:250ms">O</span><span style="transition-delay:300ms">N</span><span style="transition-delay:350ms">T</span><span style="transition-delay:300ms">R</span><span style="transition-delay:350ms">A</span><span style="transition-delay:350ms">S</span><span style="transition-delay:350ms">E</span><span style="transition-delay:350ms">Ñ</span><span style="transition-delay:350ms">A</span>
        </label>
    </div>
    </div>
    <button (click)="logearse(correo.value,password.value)"> INICIAR SESIÓN</button>
    </section>
