*{
    text-decoration: none;
}
.navbar{
    height: 80px;
    background-color: var(--navbar_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: whitesmoke;
    padding-left: 20px;
}
.enlaces{
    width: 200px;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}
.enlaces a{
    font-size: large;
    color: whitesmoke;
}